
.wz-view{
    border-radius: 6px;
    background-color: #3f4750;
}

.ui-header-brand{
  width: 165px;
}

.ui-input-search{
    padding: 1px 0;
    float: left;
    border-radius: 0;
    border: none;
    width: 280px;
}

.ui-input-search input{
  width: 208px;
}

.ui-input-search.active{
    border: none;
}

.ui-icons-ungrouped{
  float: left;
  margin: 4px 0 0 10px;
}

.contacts-top-request i{
    width: 20px;
    height: 20px;
    float: left;
    background: url("@static/request.png") no-repeat;
    background-size: 20px 20px;
}

.ui-alignment-btn{
  width: 32px;
  height: 32px;
}

.ui-alignment-btn i{
  margin: 6px;
}

/*
.contacts-top-request-notification{
    width: 16px;
    height: 15px;
    float: left;
    background: #B22F27;
    border-radius: 3px;
    position: relative;
    top: -5px;
    right: -12px;
    text-align: center;
    padding-top: 1px;
    font-size: 14px;
    color: #E9E9E9;
}

*/

.contacts-top-blocked i{
    width: 20px;
    height: 20px;
    float: left;
    background: url("@static/blocked.png") no-repeat;
    background-size: 20px 20px;
}

.contacts-aside-title{
    text-transform: uppercase;
}

.contacts-aside-file{
    height: 28px;
}

.contacts-aside-file img{
    width: 24px;
    height: 24px;
    float: left;
    margin: 2px 8px;
    border-radius: 50%;
}

.contacts-aside-file span{
    padding: 9px 0 6px;
}

.list-status{
    color: #767776;
    font-size: 36px;
    font-family: Lato;
    font-weight: 200;
    text-align: center;
}

.contacts-info-user{
    width: 420px;
    height: 150px;
    border-bottom: 1px solid #66676D;
    float: left;
    margin-left: 75px;
}

.contacts-info-user:last-child{
    border-bottom: none;
}

.contacts-info-user img{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px;
    border-radius: 50%;
}

.contacts-info-user-data{
    width: 300px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}

.contacts-info-user-name{
    color: #fefefe;
    width: 300px;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin-top: 5px;
}

.contacts-info-user-bio{
    font-size: 13px;
    color: #fefefe;
    width: 300px;
    height: 40px;
    float: left;
    text-align: justify;
    margin-top: 10px;
    overflow: hidden;
    word-wrap: break-word;
}

.contacts-info-user-data .friend-contact{
    float: left;
    padding: 0 7px;
    width: auto;
}

.contacts-info-user-data .friend-info{
    float: right;
    padding: 0 7px;
    width: auto;
}

.contacts-info-user-data .friend-contact span,
.contacts-info-user-data .friend-info span{
    max-width: none;
    white-space: nowrap;
}
